<h1>Welcome Mr Roboto</h1>

<ul>
  <li><%= link_to 'Create a new project', '/projects/new' %></li>
  <li><%= link_to "Projects I'm working on", projects_path %></li>
  <li><%= link_to 'Projects', projects_path %></li>
</ul>
