a:visited {
	color: white;
}

body {
	background-color: #D2D2D2;
	font-family: sans-serif;
}

p, h1, h2, h3 {
	color: #464646;
	text-align:center

}
.starter-template {
	color: #464646;
	text-align:center
}

.lead {
	color: #464646;
	text-align:center
}

.container {
	color: #464646;
	text-align:center
}

/******
form
*******/
.form-signin {
	color: #a71e89;

	width: 40%;
	margin: 0 30% 0 30%;

}

.form-signin-heading {
	color: #464646;
	text-align:center
}

.checkbox {
	color: #438285;
}
/******
buttons
*******/
.btn {
	margin: 0.5em;
	border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

.btn:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}


/******
navbar
******/
.navbar {
	background-color: #9c1313;
	color: #FFFFFF;
}
.navbar-toggle-collapsed {
	color: #FFFFFF;
}

/******
footer
******/
.footer {
	background-color: #c3c3bb;
}
